@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Inter:wght@300;400;500;600;700;800;900&family=Josefin+Sans:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin-inline: auto;
    /* height: 500vh; */
}

.flex{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.right-top{
    top: 0;
    padding-left: 150px;
}
.text{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}
.text1{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.left-text{
    padding-left: 20px;
}
.right-text{
    padding-left: 800px;
}
.box1{
    width: 100%;
    margin-top: 10px;
    padding-inline: 200px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.last{
    width: 100%;
    margin-top: 10px;
    padding-inline: 200px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer1{
    padding-left: 40px;
}